.error {
	height: 100vh;
	background: center/cover url("../images/lost.jpg") no-repeat;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: seashell;
}

.modal {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background: transparent;
	backdrop-filter: blur(4px);
	border-radius: 15px;
	padding: 2em;
}

h1 {
	text-align: center;
	font-family: "Rubik", sans-serif;
	font-size: 6em;
	font-weight: 900;
}
